
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="">Najdraži nastavnik</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <a href="login" class="get-started-btn">Uloguj se</a>
      <a href="registerStudent" class="get-started-btn">Registruj se kao učenik</a>
      <a href="registerTeacher" class="get-started-btn">Registruj se kao nastavnik</a>
    </div>
  </header><!-- End Header -->

  <main id="main">
    <h3>Resetovanje lozinke</h3>
    <section id="about" class="about">

      <div class="container">
        <h3>Resetovanje lozinke</h3>
        <div class="row">
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <form #quest="ngForm">
              <br>
              <h3>
                Pitanje
              </h3>
              <div class="form-group">
                <input type="text" class="form-control" id="e" name="e" placeholder="Unesite odgovor na pitanje" required [(ngModel)]="answer">
              </div>
              <br>
              <div class="form-group">
                <input type="text" class="form-control" id="ee" name="ee" placeholder="Unesite korisničko ime" required [(ngModel)]="username">
              </div>
              <br>
            </form>
            <button type="submit" class="btn get-started-btn" style="margin: 0;" [disabled]="quest.invalid" (click)="checkAnswer()">Potvrdi</button>

          <form>
            <br>
            <div class="form-group">
              <input type="password" class="form-control" id="p1" name="p1" aria-describedby="p1" placeholder="Unesite novu lozinku" [disabled]="!correct" required [(ngModel)]="newPass1">
              <br>
              <input type="password" class="form-control" id="p2" name="p2" aria-describedby="p2" placeholder="Unesite ponovo novu lozinku" [disabled]="!correct" required [(ngModel)]="newPass2">
            </div>
            <br>
            <button type="submit" class="btn get-started-btn" style="margin: 0;" [disabled]="!correct" (click)="changePassword()">Potvrdi</button>
          </form>
        </div>
        </div>
        </div>
        <div style="margin-left: 80px; margin-top: 10px;color: crimson;">
          {{message}}
        </div>
    </section>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../../assets/vendor/aos/aos.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

