<main id="main">
  <section id="about" class="about">
    <div class="user-container">
      <div class="user-info">
        <h2>{{restaurant?.Naziv}}</h2>
        <p><strong>Adresa:</strong> {{restaurant?.Adresa}}</p>
        <p><strong>Tip:</strong> {{restaurant?.Tip}}</p>
        <p><strong>Broj Telefona:</strong> {{restaurant?.Telefon}}</p>
      </div>
    </div>
    <div class="user-container">
      <div class="user-info">
        <h2>Komentari(FEJK PODACI)</h2>
        <div class="comment-list">
          <div *ngFor="let comment of comments" class="comment">
            <div class="comment-header">
              <h3>{{ comment.author }}</h3>
            </div>
            <div class="comment-body">
              <p>{{ comment.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="map"></div>
  </section>
</main>
