<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a routerLink="">Kutak dobre hrane</a></h1>

    <ng-container *ngIf="isGuest; else loggedOut">
      <a href="guestStart" class="get-started-btn">Profil</a>
      <a href="guestRestaurant" class="get-started-btn">Restorani</a>
      <a href="" class="get-started-btn">Rezervacije</a>
      <a href="" class="get-started-btn">Dostava hrane</a>
      <a href="" class="get-started-btn" (click)="logOut()">Izloguj se</a>
    </ng-container>

    <ng-template #loggedOut>
      <a href="login" class="get-started-btn">Uloguj se</a>
      <a href="registerGuest" class="get-started-btn">Registruj se kao gost</a>
    </ng-template>
  </div>
</header>

<router-outlet></router-outlet>

<footer id="footer">
  <div>
    <h3>Kutak dobre hrane</h3>
  </div>
</footer>

<!-- Vendor JS Files -->
<script src="../../assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../../assets/vendor/aos/aos.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../../assets/vendor/php-email-form/validate.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Template Main JS File -->
<script src="../../assets/js/main.js"></script>
