<main id="main">
  <section id="about" class="about">
    <h2>Izaberite jela</h2>
    <div class="content-container">
      <div class="dishes-container">
        <div *ngFor="let dish of restaurantDishes" class="dish-item">
          <div class="user-photo">
            <img [src]="'http://localhost:4000/' + dish.slika" alt="User Photo">
          </div>
          <h3>{{ dish.naziv }}</h3>
          <p>Cena: {{ dish.cena | currency:'RSD':'symbol':'1.2-2'}}</p>
          <p>Sastojci: {{ dish.sastojci.join(', ') }}</p>
          <div>
            <label for="quantity">Količina:</label>
            <input #quantityInput type="number" min="1" value="1">
            <button type="submit" class="btn get-started-btn" (click)="addToCart(dish, quantityInput.valueAsNumber)" style="margin-left: 0;margin-top: 10px;">Dodaj u korpu</button>
          </div>
        </div>
      </div>

      <div class="cart-container">
        <h2>Korpa</h2>
        <div *ngFor="let item of cart" class="cart-item">
          <h4>{{ item.dish.naziv }}</h4>
          <p>Cena: {{ item.dish.cena | currency:'RSD':'symbol':'1.2-2' }}</p>
          <p>Količina: <input type="number" [(ngModel)]="item.quantity"></p>
          <button type="submit" class="btn get-started-red-btn" (click)="removeFromCart(item.dish)" style="margin-top: 10px; margin-left: 0;">Izbaci iz korpe</button>
        </div>
        <button type="submit" class="btn get-started-btn" (click)="confirmOrder()" style="margin: 0;">Potvrdi</button>
        <div>
          {{message}}
        </div>
      </div>
    </div>
  </section>
</main>
