<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative">
    <h1>Learning Today,<br>Leading Tomorrow</h1>
    <h2>We are team of talented designers making websites with Bootstrap</h2>
    <a href="courses.html" class="btn-get-started">Get Started</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="content">
          <h3>Pretraži restoran. DODATI IME PREZIME I BROJ REZ</h3>
          <table>
            <thead>
              <tr>
                <th>Naziv</th>
                <th>Adresa</th>
                <th>Tip</th>
                <th>Konobari</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rest of filteredRestaurants">
                <td>{{ rest.Naziv }}</td>
                <td>{{ rest.Adresa }}</td>
                <td>{{ rest.Tip }}</td>
                <td>{{ rest.Konobari.join(', ') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="row" style="margin-top: 20px;">
        <div class="col-lg-2 col-6 text-center">
          <div class="form-group" style="max-width: 300px;">
            <label for="exampleInputEmail1">Naziv</label>
            <input type="text" class="form-control" [(ngModel)]="name">
          </div>
        </div>
        <div class="col-lg-2 col-6 text-center">
          <div class="form-group" style="max-width: 300px;">
            <label for="exampleInputEmail1">Adresa</label>
            <input type="text" class="form-control" [(ngModel)]="address">
          </div>
        </div>
        <div class="col-lg-2 col-6 text-center">
          <div class="form-group" style="max-width: 300px;">
            <label for="exampleInputEmail1">Tip</label>
            <input type="text" class="form-control" [(ngModel)]="type">
          </div>
        </div>
        <div class="col-lg-2 col-6" style="margin-top: 20px;">
          <button class="btn get-started-btn" (click)="searchRestaurants()">Pretraži</button>
        </div>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-lg-4 ol-md-4 col-sm-12">
          <button type="submit" class="btn get-started-btn" (click)="sort('naziv')">Sortiraj po nazivu</button>
        </div>
        <div class="col-lg-4 ol-md-4 col-sm-12">
          <button type="submit" class="btn get-started-btn" (click)="sort('adresa')">Sortiraj po adresi</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <button type="submit" class="btn get-started-btn" (click)="sort('tip')">Sortiraj po tipu</button>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container" style="margin-left: 120px;">

      <div class="row counters">

        <div class="col-lg-2 col-md-2 col-sm-12 text-center">
          <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
          <p>Broj restorana</p>
          <p>{{numberOfRestaurants}}</p>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12 text-center">
          <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
          <p>Broj registrovanih gostiju</p>
          <p>{{numberOfGuests}}</p>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12 text-center">
          <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
          <p>Broj rezervacija u prethodnih 24h</p>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12 text-center">
          <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
          <p>Broj rezervacija u prethodnih sedam dana</p>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12 text-center">
          <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
          <p>Broj rezervacija u prethodnih mesec dana</p>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

</main><!-- End #main -->
