<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative">
    <h1>Learning Today,<br>Leading Tomorrow</h1>
    <h2>We are team of talented designers making websites with Bootstrap</h2>
    <a href="courses.html" class="btn-get-started">Get Started</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <!-- <h3>Predmeti.</h3>
          <table>
            <thead>
              <tr>
                <th>Predmet</th>
                <th>Nastavnik</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let predmetNastavnik of predmetiNastavnici">
                <td>{{ predmetNastavnik.predmet }}</td>
                <td *ngFor="let nastavnik of predmetNastavnik.nastavnici">{{ nastavnik.ime }} {{nastavnik.prezime}}</td>
              </tr>
            </tbody>
          </table>
          <button (click)="sortPredmet()">Sort predmet</button>
          <button (click)="sortIme()">Sort ime</button>
          <button (click)="sortPrezime()">Sort prezime</button>
          <br>
          ime:<input type="text" [(ngModel)]="ime">
          <br>
          prezime:<input type="text" [(ngModel)]="prezime">
          <br>
          predmet:<input type="text" [(ngModel)]="predmet">
          <button (click)="pretraziNastavnike()">Pretrazi</button> -->
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="../../assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Pretraži nastavnika.</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
          </ul>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          </p>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row counters">

        <!-- <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
          <p>Broj učenika</p>
          <p>{{totalStudents}}</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
          <p>Broj nastavnika</p>
          <p>{{totalActiveTeachers}}</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
          <p>Broj časova u prethodnih sedam dana</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
          <p>Broj časova u prethodnih mesec dana</p>
        </div> -->

      </div>

    </div>
  </section><!-- End Counts Section -->

</main><!-- End #main -->
