<p>forgot-password-safeqa works!</p>
<main id="main">
  <section id="about" class="about">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="margin-top: 30px;">
          <h3>{{qa?.question}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <form #quest="ngForm">
            <div class="form-group">
              <input type="text" class="form-control" id="ee" name="ee" placeholder="Unesite odgovor" required [(ngModel)]="answer">
            </div>
            <br>
          </form>
          <button type="submit" class="btn get-started-btn" style="margin: 0;" [disabled]="quest.invalid" (click)="checkAnswer()">Potvrdi</button>      </div>
      </div>
      </div>
      <div style="margin-left: 80px; margin-top: 10px;color: crimson;">
        {{message}}
      </div>
  </section>
</main>

