<main id="main">
  <section id="about" class="about">
    <div class="user-container">
      <div class="user-info">
        <h2>{{user?.ime}} {{user?.prezime}}</h2>
        <p><strong>Adresa:</strong> {{user?.adresa}}</p>
        <p><strong>Email:</strong> {{user?.mejl}}</p>
        <p><strong>Broj Telefona:</strong> {{user?.telefon}}</p>
      </div>
      <div class="user-photo">
        <img [src]="'http://localhost:4000/' + user?.slika" alt="User Photo">
      </div>
    </div>

    <div class="user-container">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <h2>Promenite informacije</h2>
        <div class="form-group">
          <label for="ime">Ime:</label>
          <input type="text" id="ime" [(ngModel)]="name" name="ime">
        </div>
        <div class="form-group">
          <label for="prezime">Prezime:</label>
          <input type="text" id="prezime" [(ngModel)]="lastName" name="prezime">
        </div>
        <div class="form-group">
          <label for="adresa">Adresa:</label>
          <input type="text" id="adresa" [(ngModel)]="address" name="adresa">
        </div>
        <div class="form-group">
          <label for="mejl">E-mail adresa:</label>
          <input type="email" id="mejl" [(ngModel)]="email" name="mejl">
        </div>
        <div class="form-group">
          <label for="brojTelefona">Kontakt telefon:</label>
          <input type="text" id="brojTelefona" [(ngModel)]="phone" name="brojTelefona">
        </div>
        <div class="form-group">
          <label for="slika">Slika:</label>
          <input type="file" id="slika" (change)="onFileSelected($event)">
        </div>
        <button type="submit" class="btn get-started-btn" style="margin-left: 0;">Ažuriraj</button>
        <div>
          {{message}}
        </div>
      </form>
    </div>

    <div class="user-container">
      <form (ngSubmit)="changePassword()" #passForm="ngForm">
        <h2>Promenite lozinku</h2>
        <div class="form-group">
          <label for="old">Lozinka:</label>
          <input type="password" id="old" [(ngModel)]="oldPass" name="pas">
        </div>
        <div class="form-group">
          <label for="new1">Nova lozinka:</label>
          <input type="password" id="new1" [(ngModel)]="newPass1" name="pas1">
        </div>
        <div class="form-group">
          <label for="new2">Ponovljena nova lozinka:</label>
          <input type="password" id="new2" [(ngModel)]="newPass2" name="pas2">
        </div>

        <button type="submit" class="btn get-started-btn" style="margin-left: 0;">Promeni</button>
        <div>
          {{message1}}
        </div>
      </form>
    </div>

  </section>
</main>
